<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
    /*
    Js中数据类型：String、Number、Boolean、Null、Undefined、
    Object(复合数据类型)
        1.内建对象：String、Function、Math、Number、Boolean、Object
        2.宿主对象：BOM、DOM
        3.自定义对象：使用new关键字调用函数，是构造函数constructor
     */

    /*
    1.创建对象
     */
    var obj = new Object();
    console.log(typeof obj);

    /**
     * 1.1对象的属性名不强制要求遵守标识符的规范
     * 使用特殊属性名：对象["属性名"] = 属性值，读取：对象["属性名"]
     *      []中可以添加变量，这样变量值是多少就会读取那个属性
     * @type {string}
     */
    obj.name = "名字";
    obj["属性名"] = "属性值";
    var empt = "属性名";
    obj["知识"] = "需要学习";
    document.writeln(obj[empt]);
    document.writeln(obj["知识"]);

    /*1.2读取对象中的属性值：对象.属性名*/
    console.log(obj.name);

    /*1.3修改对象属性：对象.属性 = 新值*/
    obj.name = "新名字";
    console.log(obj.name);

    /*1.4删除对象属性：delete 对象.属性名*/
    delete obj.name;
    console.log(obj.name);

    /*
    in运算符：检查对象中是否含有该属性
        "属性名" in 对象
     */

    /*
    js中的变量都是保存在栈内存中
    引用数据类型：对象名保存在栈内存、值保存在 堆 内存中
    基本数据类型：值与值间独立，直接在 栈 内存中储存

    基本类型比较就是单纯的值，而引用数据类型时比较的是引用地址
     */


    /*
    2.使用字面量创建对象
     */
    var stu = {
        name:"王超",
        age:18,
        "@email":"100@163.com"
    }
    console.log(stu["@email"]);

    /*3.1函数也是一个对象、封装一些功能,具有所有普通对象的功能
        调用语法：函数对象();
     */
     var run = new Function();

    console.log(typeof run);
    run();

    /*3.2形参 中括号表示可选的 可以不写*/
    function run2([a,b]) {
        alert("1");
    }

    /*3.3使用函数表达式,末尾加;*/

    var run3 = function(){
        document.write("首先创建一个匿名函数，然后赋值给一个变量")；
    };


    function sum(a,b){
        console.log(a+b);
    }
    sum(1,2);//调用函数时，不检查实参个数，多余的不会赋值、数量少的话，缺少的参数是undefined

    /*返回值*/
    function add(a,b,c){
        return a+b+c;//如果return后不写值或不写return 将返回undefined
    }
    console.log(add(1,2,3));

    (function(){
        console.log("立即执行函数");
    })();

    /*掉方法：obj.name(); 掉函数name()  只是名称上的区别*/


    /*枚举对象中的属性*/
    var obj = {
        name:"xxx",
        age:18,
        gender:"girl"
    };
    for(var n in obj){
        console.log("属性名："+n);
        console.log(obj[n]);//变量不能使用: obj.n
    }

    /*作用域
        全局：写在script中、页面打开创建、关闭销毁、window全局对象，创建的属性都会作为window的属性保存
        变量的申明：var关键字申明的变量会在所有的代码执行前申明好，但是不会被赋值
        函数的申明：function (){}会在代码执行之前就会创建
        函数表达式：不能在申明前调用

        函数作用域：每调用一次函数就会创建一个新的函数作用域，互相独立
                  操作变量时，就近原则
                  有同名变量 要想访问全局的时候 window.变量名
                  函数作用域中也有变量提前申明
                  定义行参相当于在函数作用域中申明了变量
     */


</script>
<head>
    <meta charset="UTF-8">
    <title>object</title>
</head>
<body>
</body>
</html>